.house-list>.card {
    display: block;
    height: 50px;
    background-color: var(--dark-blue);
    color: var(--off-white);
}

.house-list {
    display: grid;
    gap: 5px;
    margin-top: 30px;
}