.header {
    display: flex;
    margin: 20px;
}

.headerList {
    position: sticky;
    top: 0;
    z-index: 1000;
    color: var(--dark-blue);
    /* height: 3rem; */
    margin-left: auto;
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 60px;
    cursor: pointer;
}

.header-tab:hover {
    border-bottom: 2px solid var(--dark-blue);
}

.logo {
    height: 50px;
}

.icons {
    font-size: x-large !important;

}

.tooltip {
    visibility: hidden;
    background-color: var(--dark-blue);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    left: 50%;
    white-space: nowrap;
    /* bottom: 125%; */
    /* left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap; */
}

.icon-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}